$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

// color
$white-color: #fff;
$primary-color: #a7795e;
$black-color: #000;
$blue-color: #3a6fb5;

// sizes
$max-height-header: 65px;
