@use "variables" as *;

.wrapper {
    position: fixed;
    left: 0;
    right: 0;
    background-color: $white-color;
    height: $max-height-header;
    box-shadow: 0px 1px 4px 1px rgba($color: $black-color, $alpha: 0.05);
    z-index: 9999;

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
