@use "variables" as *;
.wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    user-select: none;
    .action {
        cursor: pointer;
        & + .action {
            margin-left: 1.5rem;
        }

        &.cart {
            position: relative;

            .number-item-in-cart {
                position: absolute;
                top: -5px;
                right: -5px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20px;
                height: 20px;
                font-size: 0.6rem;
                color: $white-color;
                background-color: $blue-color;
                border-radius: 50%;
            }
        }
    }
    a {
        color: $black-color;
    }
}

.tooltip-user-logged {
    padding: 8px;
    top: 10px !important;
    max-width: 180px;
    background-color: $white-color;
    box-shadow: 1px 0 4px 1px rgba($color: $black-color, $alpha: 0.1);
    border-radius: 4px;
    overflow-x: hidden;
    z-index: 10;
    .item {
        padding: 8px;
        display: block;
        width: 100%;
        color: $black-color;
        background-color: $white-color;
        text-align: start;
        font-size: 14px;
        transition: background-color 0.3s;
        &.btn-logged {
            outline: none;
            border: none;
        }
        & + .item {
            border-top: 1px solid rgba($color: $black-color, $alpha: 0.1);
        }
        &:hover {
            background-color: rgba($color: $black-color, $alpha: 0.05);
        }
        &:first-child {
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
        }
        &:last-child {
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
        }
    }
}

.avatar-username {
    margin: 0 6px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    cursor: pointer;

    outline: 1px solid rgba($color: $black-color, $alpha: 0.1);
}
