@use "variables" as *;
.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  user-select: none;
  .action {
    cursor: pointer;
    & + .action {
      margin-left: 1.5rem;
    }

    &.cart {
      position: relative;

      .number-item-in-cart {
        position: absolute;
        top: -5px;
        right: -5px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        font-size: 0.6rem;
        color: $white-color;
        background-color: $blue-color;
        border-radius: 50%;
      }
    }
  }
  a {
    color: $black-color;
  }
}
