@use "variables" as *;

.popper {
    position: absolute;
    top: calc(100% + 10px);
    padding: 0.6rem;
    border-radius: 4px;
    box-shadow: 0px 4px 5px 1px rgba($color: $black-color, $alpha: 0.1);
    background-color: $white-color;
    border: 1px solid rgba($color: $black-color, $alpha: 0.02);
    z-index: 10;

    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 10px;
        background-color: transparent;
        top: -8px;
    }

    &.arrow::after {
        position: absolute;
        content: "";
        bottom: calc(100% - 2px);
        border-width: 10px 8px;
        border-style: solid;
        border-color: transparent transparent $white-color transparent;
    }

    &.left {
        left: 0;
        &.arrow::after {
            left: 0;
        }
    }
    &.right {
        right: 0;
        &.arrow::after {
            right: 0;
        }
    }
    &.middle {
        left: 50%;
        transform: translateX(-50%);
        &.arrow::after {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &.full-screen {
        left: 0;
        right: 0;
        transform: translateX(0);
    }
}

a {
    text-decoration: none !important;
}
