.sidebar {
  width: 100%;
  height: 100%;
  background: #fafafa;
  position: relative;
  .header {
    padding-left: 10%;
    border-bottom: 1px solid #e1e1e1;
    padding-top: 20px;
    padding-bottom: 20px;

    .title {
      font-size: 18px;
      font-weight: 600;
    }
  }
  .content {
    padding-left: 20px;
    .contentProduct {
      border-bottom: 1px solid #e1e1e1;
    }
  }
}

h2 {
  margin: 0;
}
