.error-msg {
  color: red;
  margin-left: 10px;
}

.container {
  width: 1080px;
}
.row {
  &__title {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 20px;
    background-color: #ccc;
  }
}
.signup {
  max-width: 1250px;
  margin-top: 50px;
  padding-bottom: 300px;
  position: relative;
  &__textheading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__textcontent {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-form {
    margin: 0 auto;
    width: 480px;
    height: 350px;
    position: relative;
    &__group {
      margin-bottom: 10px;
    }
    &__label {
      cursor: pointer;
      margin-bottom: 5px;
      font-weight: bold;
    }
    &__input {
      display: block;
      width: 480px;
      height: 40px;
      padding: 15px 20px;
      outline: none;
    }
    &__forget {
      padding: 10px;
    }
    &__submit {
      cursor: pointer;
      color: white;
      background-color: black;
      width: 100%;
      height: 50px;
      position: relative;
    }
    &__social {
      display: flex;
      justify-content: space-around;
      padding-bottom: 20px;
      &-item {
        width: 180px;
        height: 40px;
        background-size: cover;
        object-fit: cover;
      }
    }
  }
}

.text-content-secondary {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select__role{
  width: 100%;
  height: 35px;
  border: none ;
  box-shadow: 0px 0 3px 0px;
  border-radius: 5px;
  cursor: pointer;
}
